<h2>Filters</h2>
<mat-form-field class="dropdown">
  <h3 class="label">Station Name</h3>
  <mat-select (selectionChange)="onChangeStation($event)" [value]="selectedStation">
    <mat-option *ngFor="let station of stations" [value]="station.stationName">
      {{station.stationName}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="dropdown">
  <h3 class="label">Station Line</h3>
  <mat-select (selectionChange)="onChangeStationLine($event)" [value]="selectedStationLine">
    <mat-option *ngFor="let stationLine of stationLineList" [value]="stationLine">
      {{stationLine}}
    </mat-option>
  </mat-select>
</mat-form-field>
